    </main>
    <footer class="mt-auto py-6 px-4 border-t border-white/5 text-center text-gray-500 text-xs">
        <div class="flex flex-col md:flex-row items-center justify-center gap-4">
            <p>&copy; 2026 INVMC | Author: OddBoyXD | All Rights Reserved</p>
            <div class="flex gap-4">
                <a href="https://github.com/OddBoyXdxd69" target="_blank" class="hover:text-white transition-colors"><i class="fab fa-github"></i> GitHub</a>
                <a href="https://discord.gg/invmc" target="_blank" class="hover:text-white transition-colors"><i class="fab fa-discord"></i> Discord</a>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/f6d9b4f6a3.js" crossorigin="anonymous"></script>
</body>
</html>
